<!doctype html>
<title>{% block title %}{% endblock %} - nohal web</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_common.css') }}">
<nav>
  <h1>NOW</h1>
  <ul>
        <li><a href="{{ url_for('index') }}">Home</a>
        <li><a href="{{ url_for('calculator') }}">Calculator</a>
        <li><a href="{{ url_for('porridge') }}">Porridge</a>
        <li><a href="{{ url_for('about') }}">About</a>
  </ul>
</nav>
{% block body %}
{% endblock %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
